PHPMYADMIN_DOMAIN=phpmyadmin.local.test
GRAFANA_DOMAIN=grafana.local.test
S3_DOMAIN=s3.local.test
S3_CONSOLE_DOMAIN=s3.console.local.test
PORTAINER_DOMAIN=portainer.local.test

STEP_CA_PORT=9696
STEP_CA_NAME="App Boilerplate CA"
STEP_CA_DNS="step-ca,localhost"
STEP_CA_PROVISIONER="admin"
STEP_CA_PASSWORD="changeme"
STEP_CA_ADMIN="admin@matrix.test"
STEP_CA_ADDRESS=":9696"
STEP_CA_URL=https://localhost:9696
