.env
.env.backend
.env.devops
.env.prod
.env.fill
.init.deploy.sh

prometheus.yml
promtail.config.yml
/prometheus.yml
/prometheus.yml
./promtail.config.yml
./promtail.config.yml
*.csr
*.ssl
*.crt
*.cert
*.key
*.pem
node_modules
./*/node_modules
.DS_Store
.vscode
.idea
*.log
.pnpm-store/*
.pnpm-store

# Generated nginx configs
infra-generated/nginx/default.conf.lb.template
infra-generated/nginx/default.conf.vps.template

/infra-generated/nginx/*
/infra-generated/ssl/*

*.key
*.pem